<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Training Buddies</title>
    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
</head>

<body class="greyBack">
    <div id="container-fluid">
        
    
    <div class="col-sm-6">
               

                   <!-- check if the user has this token (is the user authenticated with this social account) -->
                   <% if (user) { %>
                       <div id="user" data-value=<%= user %> style="display:none;"></div>
                       <script src="loginPage.js"></script>
                  
                   <% } else { %>
                       <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                   <% } %>

              
           </div>
           </div>
        
</body>


</html>