
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
li {
	float:left;
	display: inline;
}
.headerButton{
	font-size: 30px;
	padding: 30px;
	cursor: pointer;
}
.change-cursor{
	cursor:pointer;
}
.activitypage {
	padding-top: 50px;
}
.active{
	background-color: #5963FF;
}

.loginSquare{
  margin-top: 40vh;
  border: solid;
}
.greyBack{
	background-color: #C6C6C6;
}

#searchBox{
	margin-left: 7vw;
}
#mainH1{
	margin-top: 10vh;
	margin-bottom: -10vh;
}

#infoBox{
	margin-left: 3vw;
	margin-right: -3vw;
}

#levelFooter{
	font-weight: bold;
}

#activites{
	overflow:auto;
	height: 100vh;
}
#addActivity{
	overflow: hidden;
}

#wrapper{
	overflow: hidden;
}

#profileBox{
	float:left;
	border: 1px solid green;
}
#profile-activities{
	margin-left: 50vw;
}

#aboutP{
	font-size: 16px;
	font-weight: bold;
}

